body {
  background-color: #111;
  text-align: center;
}

canvas,
video,
img {
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 2pc;
  box-shadow: 1pc -1pc 3pc 0pc #1a1a1a, -1pc 1pc 3pc 0pc #000;
}

h1,
h2,
h3,
p,
span {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1::selection,
h2::selection,
h3::selection,
p::selection,
span::selection {
  color: white;
  background-color: red;
}

a {
  text-decoration: none;
}

a:hover * {
  color: red;
  text-decoration: none;
}

.ghlogo {
  margin: 0;
  margin-left: 1pc;
  width: 2%;
  display: inline;
}

p {
  text-align: justify;
}

h1 {
  margin: 2pc;
}

h2 {
  margin: 1pc;
  margin-top: 5pc;
}
